@media screen and (max-width: 1024px) {
  .wrapper_page .link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}